[submodule "eclipse-mil.jpeojtrs.sca"]
	path = redhawk-ide/mil.jpeojtrs.sca
	url = ../eclipse-mil.jpeojtrs.sca.git
[submodule "eclipse-gov.redhawk.core"]
	path = redhawk-ide/gov.redhawk.core
	url = ../eclipse-gov.redhawk.core.git
[submodule "eclipse-gov.redhawk.ide"]
	path = redhawk-ide/gov.redhawk.ide
	url = ../eclipse-gov.redhawk.ide.git
[submodule "eclipse-gov.redhawk.codegen"]
	path = redhawk-ide/gov.redhawk.codegen
	url = ../eclipse-gov.redhawk.codegen.git
[submodule "eclipse-products-gov.redhawk.explorer.product"]
	path = redhawk-ide/gov.redhawk.explorer.product
	url = ../eclipse-products-gov.redhawk.explorer.product.git
[submodule "eclipse-products-gov.redhawk.ide.product"]
	path = redhawk-ide/gov.redhawk.ide.product
	url = ../eclipse-products-gov.redhawk.ide.product.git
[submodule "redhawk-dependencies/librtlsdr"]
	path = redhawk-dependencies/librtlsdr
	url = ../librtlsdr.git
[submodule "redhawk-ide/mvn-parent"]
	path = redhawk-ide/mvn-parent
	url = ../mvn-parent
[submodule "redhawk-dependencies/libRfSimulators"]
	path = redhawk-dependencies/libRfSimulators
	url = ../libRfSimulators.git
[submodule "redhawk-dependencies/omniEvents"]
	path = redhawk-dependencies/omniEvents
	url = ../omniEvents
[submodule "redhawk-assets"]
	path = redhawk-assets
	url = ../assets.git
[submodule "redhawk-core-framework"]
	path = redhawk-core-framework
	url = ../core-framework
